<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>
<div class="row">

<div class="col-md-6 col-md-offset-3">
  <p>Location : <%= @user.location %></p>
  <p>Hobby : <%= @user.hobby %></p>
  <p>Introduce : <%= @user.introduce %></p>
  <p><%= link_to "Edit profile", edit_user_path %></p>
</div>

</div>

