<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>
<div class="row">

<div class="col-md-6 col-md-offset-3">
  <p><span style="font-weight: Bold">Location</span> : <%= @user.location %></p>
  <p><span style="font-weight: Bold">Hobby</span> : <%= @user.hobby %></p>
  <p><span style="font-weight: Bold">Introduce</span> : <%= @user.introduce %></p>
  <p><%= link_to "Edit profile", edit_user_path %></p>
</div>

</div>
