<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>
<div class="row">

<div class="col-md-6 col-md-offset-3">
  <p><span>Location</span> : <%= @user.location %></p>
  <p><span>Hobby</span> : <%= @user.hobby %></p>
  <p><span>Introduce</span> : <%= @user.introduce %></p>
  <% if current_user == User.find(params[:id]) %>
    <p><%= link_to "Edit profile", edit_user_path %></p>
  <% end %>
</div>

</div>
